div {
    padding: 0px;
}

#calculator {
    margin: 100px;
    border: 5px;
    border-color: black;
    border-style:ridge;
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

#display {
    width: 400px;
    height: 100px;
    display: flex;
    border-bottom: 5px;
    border-bottom-color: black;
    border-bottom-style:ridge;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

#operation {
    font-size: large;
}

#result {
    font-size: xx-large;
    font-weight: 300;
}

#buttons {    
    width: 400px;
    height: 450px;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items:center;
    
}

button {
    height: 100px;
    width: 100px;
}

#number {
    background-color: lightgrey;
    color: black;
}

#operator,#equal,#decimal {
    background-color: gray;
    color: white;
}

#clear,#delete {
    width: 200px;
    height: 50px;
}

#clear {
    background-color: lightcoral;
    color: white;
}

#delete {
    background-color: lightblue;
    color: white;
}